body{
    /*padding-top: 5px;*/
    width: 95%;
}
.layui-input, .layui-select, .layui-textarea,.layui-btn{
    height: 28px;
    line-height:28px;
}
#mjobothers{
    margin: 0;
    padding: 0;
}
.layui-form-label {
    padding: 0;
    line-height: 28px;
}
.ps-top{
    margin: 15px 50px;
}
.layui-form-item {
    margin-bottom: 5px;
}
.layui-elem-quote{
    padding:8px
}
.ps-lable{
    width: 20px;
}
.ps-my-label{
    width: 100px;
}
.layui-btn-my{height: 38px;line-height: 38px;}
.ps-my-input{margin: 0 5px 0 0;}
.ps-required-label{color:#f00;}
