#main {
	border: 1px solid #5BC0DE;
	background-color: #E3F1FE;
}

#b1 {
	border: 1px solid #5BC0DE;
	background-color: #E3F1FE;
	width: 98%;
	margin: auto;
}

#a1 {
	border: 1px solid #5BC0DE;
	background-color: #C2D9F4;
	width: 98%;
	margin: auto;
}