@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

div {
    margin: 0;
    padding: 0;
}

form, ul, ol, dl, table, div, h1, h2, h3, h4, h5, iframe {
    margin: 0;
    padding: 0;
}

address {
    padding: 0;
    margin: 0;
}

table {
    margin: 0 auto;
    padding: 0;
}

img, fieldset {
    border: 0;
}

select, input, li img {
    vertical-align: middle;
}

ul, li, ol {
    list-style-type: none;
}

legend, hr, caption {
    display: none;
}

.pr {
    position: relative
}

.bg_none {
    background-image: none !important
}

.image {
    background-image: none !important
}

.login {
    font-family: STHeiTi, 'Microsoft Yahei', Verdana, "宋体", Helvetica, sans-serif;
    height: 100%;
}

.login-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.login-bg img {
    width: 100%;
    height: 100%;
}

.login-wrap {
    width: 650px;
    margin: 0 auto;
    padding-top: 10%;
}

.login-wrap h1 {
    color: #039d3e;
    font-size: 34px;
    padding-bottom: 20px;
    font-weight: normal;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(4, 178, 66, 1)), to(rgba(1, 109, 53, 1)));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    display: block;
    letter-spacing: 2px;
    text-align: center;
}

.login-cont-k {
    width: 345px;
    height: 250px;
    padding: 15px 15px 15px 290px;
    background: #e3eeef url(../img/pic.jpg) no-repeat 15px center;
}

.layui-form-label{
    color: #0ab852;
}

.prefix{
    height: 30px;
}

.copyright {
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    color: #61967d;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 50px;
}

.layui-input-block input:focus {
    border-color: #0ab852;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #0ab852;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #0ab852;
}
